
body {
  font-family: "Verdana", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #f2f2f2;
  background-color: #17161a;
  margin: 0 25vw;
}
body header {
  background-color: white;
  color: black;
  padding: 0px 0px 20px 30px;
  margin: -15px -25vw 0px -25vw;
  height: 200px;
}
h1 {
  font-size:40px;
  font-weight: 700;
  margin: 0 0 30px 0;
  padding-top: 70px ;
}
a{
  color:#5531ff;
  font-size: 1.3em;
}
.container {
  margin-left: 22.75vw;
}
header img{
  width: 270px;
  margin-left: 360px;
  margin-top: -160px;
}
.section1 h2{
  margin: 40px 0 15px 0;
  font-size: 20px;
}
.avatar {
  display: inline-block;
  vertical-align: top;
  margin: 15px 20px 0 0;
  width: 250px;
  width:25%;
}
.section1 article{
    display: inline-block;
    width: 70%;
    line-height: 1.7;
}

.section2{
  margin: 40px 0 0 0;
}
.section2 p {
  line-height: 24px;
  font-size: 16px;
  font-style: italic;
  color: #333333;
  background-color: #ffffff;
  padding: 12px 32px 16px 32px;
  border-radius: 32px 0;
}

.section3{
  margin-bottom: 80px;
}
.section3 p{
  margin-top: 16px;
}
footer{
  background-color: blue;
  padding: 0px;
  margin: auto -25vw;
  background-color:    #5531ff ;
}
footer p{
  display:inline-block;
  margin-left: 24vw;
}
.probel{
  margin-left: 24vw;
}
