* {
  box-sizing: border-box;
}
/*меню сайта*/
header {
  width: 100%;
  background-color: gray;
  font-weight: 900;
  height: 160px;
  position: fixed;
  top: 0;
  left: 0;
  z-index:3;
  border-bottom: 10px solid black;
  text-align: center;
}
body {
  background: url("img/fon2.jpg");
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
  margin-top: 125px;
  margin-bottom: 100px;
  width: 100%;
  height:auto;

  position:relative;
}
.bodY {
  background: url("img/fon4.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: white;
  position: relative;

  border: 10px ridge orange;

  text-align: center;
  width: 60%;
  height: 90vh;
  left:20%;
  z-index:2;
}
/*фотография*/
.kon {
  height: 500px;
  margin-top: 50px;
  border: 10px inset gray;
  border-radius: 180px 10px;
}
/*поздравление письменное*/
.endC {
  background-color: #edefee;
  color: black;
  font-weight: 900;
  width:70%;
  margin-left: 15%;
  padding: 15px;

  border-radius: 20px;
}
footer {
  margin: 0;
  padding: 0;
  background-color: orange;
  font-weight: bold;
  text-align: right;
  padding:1px 20px 5px 0;
}
footer{
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0%;
  left: 0;
  z-index:3;
}
footer p {
  display: inline-block;
}
