* {
  box-sizing: border-box;
}
body {
  background: url("img/fon2.jpg");
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-attachment: fixed;
  color: black;
  margin:0;
  padding: 0;
  width: 100vw;
}
.bodY {
  /*background: url("img/fon1.jpg");
  background-repeat: no-repeat;
  background-size: 100px auto;*/
width:80vw;
height: auto; /*ПОменять как и высоту футера и хедера!!!*/
margin:0 10vw;
background-color: #edefee;
text-align: center;
position: relative;
}
.kon {
  width:80%;
}
footer, header {
  background-color: black;
  color: white;
  width: 100vw;
  height: 10vw;
  margin:0;
  padding: 0;
  position: fixed;
}
