body{
  padding: 0;
  margin: 0;
  background-image: url("img/fon2.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
/*header{
  position:fixed;
  background: url("img/fonHeader.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  left:0;
  top:0;
  height: 50px;
  width: 100%;
  text-align: center;

  border-radius: 0 0 40% 40%;
  border-bottom: 20px outset gray;
}
header p{
  font-size: 2em;
  padding: 10px 0 0 0;
  margin: 0;
  color: white;
}*/
main{
    display: flex;
    background: url("img/fon2.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    height: 100vh;
}

.container{
  display: flex;
  background: url("img/fon4.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
    border: 10px ridge orange;
  width: 680px;
  height: 80vh;
  padding: 10vh 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.content{
  margin: auto auto;
  padding: 15px;
  height: 75vh;
}
.audio {
  margin: 10px 0;
}
footer{
  position:fixed;
  background: url("img/fonFooter.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  left:0;
  bottom:0;
  height: 40px;
  width: 100%;

  border-radius: 20% 20%  0 0;
  border-top: 20px outset gray;
}
footer{
display: flex;
font-weight: 900;
font-size: 1.5em;
padding: 0 15px 25px 0;
}
.containerFooter {
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  padding: 0 15px 0 0;
  width: 50%;
}
section p{
    background-color: #FFFF66;
    color: black;
    font-weight: 900;
    width:70%;
    margin: 0 auto;
    padding: 15px;
    font-size: 1.5em;
    border-radius: 20px;
}


img{
  margin-top: 120px;
  width: 220px;
  border: 20px ridge #ffd700;
  border-radius: 0 20%;
}
/*header span{
  color: black;
  font-weight: 900;
}*/
